<div class="flex-container co-navbar" fxLayout="row" fxLayoutAlign="center center">
  <div class="flex-item" fxFlex="5%"></div>
  <div class="flex-item" fxFlex="10%"><i class="glyphicon glyphicon-tower"></i></div>
  <div class="flex-item" fxFlex="70%"fxLayoutAlign="center center">Current Companies</div>
  <div class="flex-item" fxFlex="10%"></div>
  <div class="flex-item" fxFlex="5%">
   <a [routerLink]="['/company-details']" class="co-navbar-plus" aria-hidden="true">+</a></div>
</div>
<div class="co-body" 
     fxLayout="row" 
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutWrap
     fxLayoutGap.xs="5px"
     >
  <div *ngFor="let company of companies" class="outer-div">
  <div class="flex-item co-box" 
       fxFlex="300px"
       fxFlex.xs="40%"
       [ngClass]="setClasses(company )"
       >
           <span fxLayoutAlign="space-around" 
                 class="co-heading" >{{company.name}}</span>
      <div fxLayout="row">
            <div class="col co-button co-left"   
                 fxLayoutAlign="center center" 
                 (click)="goToInvoice(company)"
                 [ngClass]="setClasses(company)"
                 >
                    Export Invoice
           </div>
           <div class="col co-button co-right" 
                fxLayoutAlign="center center"  
                [ngClass]="setClasses(company)"
                >
                <a class="co-button" 
                   (click)="goToNewItem(company)"  
                   aria-hidden="true"
                   >
                   +Add
                </a>
           </div>
        </div>
     </div>
  </div>
</div> 









