

    <div *ngFor="let company of companies" class="outer-div" [ngStyle]= "{'background-color': company.color}">
      <div class="media" >

        <div class="media-heading clearfix">{{company.name}}
          <span class="short-line">
        <input type="button" class="little-rt-btn" value="edit"></span>
        </div>
        <div class="media-body">
          <input type="button" class="button left" [ngStyle]= "{'background-color': company.color}" value="Export Invoice">
          <input type="button" class="button right" [ngStyle]= "{'background-color': company.color}" value=" + Add">
        </div>
      </div>
    </div>
 
