.media-body {
   width: 300px;
   line-height: 2.75;

}
.media-heading {
   width: 300px;
   text-align: left;
   padding-left: 30px;
   line-height: 3.5;
   border-radius: 5px 5px 0px 0px;
   
   border-style: solid;
   border-color: green;
   border-style: solid;
   border-width: 1px;
   background-color: green;
}
.media-body .button {
   width: 149px;
    border-style: solid;
   border-color: green;
   border-style: solid;
   border-width: 1px;
   background-color: green;
   
}
.right {
   float: right;
   border-radius: 0px 0px 5px 0px;
   margin-right: 1px;
}
.left {
   border-radius: 0px 0px 0px 5px;
}
.media {
   
}
form {
   background-color: red;
   width: 300px;
   border-radius: 5px;
}
.little-rt-btn {
   background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 0px;
    margin: 0px;
  
   text-align: justify;
    text-decoration: none;
   /* display: inline-block;*/
    font-size: 10px;
    float: right;
    height: 25px;
    padding: 0px 10px 0px 0px;
    
}
.short-line {
   line-height: .5;
   
}
