@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
* {
    box-sizing: border-box;
    font-size: 20px;
    max-width: 700px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight:300;
}
/* -------------------------------------------*/
/*                NAVBAR                      */
/* -------------------------------------------*/
.ni-navbar {
       max-width: 700px;
       background-color: black;
       color: white;
       height: 45px;
    }
    .ni-navbar-right {
       padding-left: 15px;
    }




/*.co-nav-main {
padding-top: 8px;
    background-color:#34495e;
    color:#f2f2f2;
    height: 45px;
}
.co-nav-logo {
    /*display: block-inline;*/
    
    /*font-family:'IM Fell Great Primer SC', Arial, sans-serif;
    font-size: 20px;
  
}
.co-nav-title {
    /*display: block-inline;
}
.co-nav-plus {
    /*display: block-inline;
    
    font-weight:200;
    background-color: #34495e;
    color:#f2f2f2;
}*/
/*----------------------------------------------------*/
/*               COMPANY BOX                          */
/*----------------------------------------------------*/
.co-box {
    width: 300px; 
    height: 100px;
    display: inline-block;
    border-radius: 10px;

    margin-top: 15px;
    color: #f2f2f2;
    margin-left:25px;
   
}


/* -------------------------------------------*/
/*                BUTTONS                     */
/* -------------------------------------------*/

/*.co-button {
    height:40px;
    width:147px;
    padding: 0px;
    padding-top: 0px;
    border: none;
    margin: 0px;
    margin-top:0px;
    font-size: 80%;
}*/
.co-heading {
    height: 50px;
    width: 80px;
    font-size: 100%;
    padding-left: 30px;
    padding-top: 10px;
    border-radius: 7px;
}
.co-button{
     color:#f2f2f2;
     font-size: 90%;
}
.co-left {
    display:inline-block;
    border-bottom-left-radius: 10px;
    height: 40px;
    width: 150px;
    margin-top:10px;
    padding-top: 5px;
    margin-right:2px;
}
.co-right {
    display:inline-block;
    float: right;
    border-bottom-right-radius: 10px;
    height: 40px;
    width: 145px;
    padding-top:5px;
    margin-top:10px;
    margin-left:2px;
    font-weight:600;
}
.little-rt-btn {
    position: absolute;
    height: 25px;
    width: 25px;
    left:265px;
    top: 6px;
    border: none;
    border-radius: 5px 10px 5px 5px;
    background-color: rgba(0, 153, 51, 0);
    font-size: 55%;
}
.green{
     background-color: #00C853;
}
 .red{
     background-color: #e74c3c;
}
.brown{
    background-color:#8D6E63;
}

.blue{
     background-color: #3498db;
}
.green.co-button{
     background-color: #00d95a;
    
}
.brown.co-button{
     background-color: #795548;
}

 .red.co-button{
     background-color: #eb685a;
}

.blue.co-button{
     background-color: #2487c9;
}

