
* {
    box-sizing: border-box;
    font-size: 20px;
    max-width: 700px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight:300;
}
.co-box {
    position: relative;
    width: 45%;
    height: 100px;
    display: inline-block;
    
    padding:0px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    margin-bottom: 10px;
    color: #f2f2f2;
    margin-left:25px;
   
}

.co-heading {
    height: 50%;
    width: 80%;
    font-size: 100%;
    padding-left: 30px;
    padding-top: 10px;
    border-radius: 7px;
    margin-bottom: 10px;
   
   
}

/* -------------------------------------------*/
/*                BUTTONS                     */
/* -------------------------------------------*/

.co-button {
    height:40px;
    width:49%;
    padding: 0px;
    padding-top: 0px;
    border: none;
    margin: 0px;
    margin-top:0px;
    font-size: 80%;
}

.co-left {
    border-bottom-left-radius: 10px;
    margin-top: 10px;
    margin-right:2px;
}
.co-right {
   float: right;
   border-bottom-right-radius: 10px;
   margin-top: 10px;
   margin-left:2px;
   font-weight:600;
   
}

.little-rt-btn {
    position: absolute;
    height: 25px;
    width: 20px;
    left:273px;
    top: 6px;
  
    padding: 0px;
    border: none;
    border-radius: 5px 10px 5px 5px;
    margin: 0px;
   
    background-color: rgba(0, 153, 51, 0);
    font-size: 55%;
}

.green{
     background-color: #00C853;

}
 .red{
     background-color: #e74c3c;
}
.brown{
    background-color:#8D6E63;
}

.blue{
     background-color: #3498db;
}
.green.co-button{
     background-color: #00d95a;
    
}
.brown.co-button{
     background-color: #795548;
}

 .red.co-button{
     background-color: #eb685a;
}

.blue.co-button{
     background-color: #2487c9;
}

/* -------------------------------------------*/
/*                NAVBAR                      */
/* -------------------------------------------*/
.co-nav-main {
   display:block;
   padding:10px 0px;
   list-style: none;
   background-color:#34495e;
   color:#f2f2f2
}
.co-nav-logo {
    display: block;
    margin-left: 0px;
    margin-top:0px;
    width: 40px;
    font-family:'IM Fell Great Primer SC', Arial, sans-serif;
    font-size: 20px;
    line-height: 0.75;
}
.co-nav-title {
    text-align:center;
    font-family:'Lato:300';
}
.co-nav-plus {
    float:right;
    font-size:30px;
    background-color: #34495e;
    color:#f2f2f2;
}
