<!-- NAVIGATION -->
<div class="container-fluid">
    <div class="row">
        <div class=" col-sm-12 col-md-6 ni-nav">
            <div>
                <a [routerLink]="['/home-app']" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></a>
                <span>New Company</span>
            </div>
        </div>
    </div>
    <!-- HEADER -->
    <div class="row">
        <div class="col-sm-12 col-md-5 col-md-offset-1">
            <!--  FORM -->
            <div class="co-details-body">
                <form #f="ngForm" (ngSubmit)="onSubscribe(f.form)">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-md-6">
                             
                                <label for="businessName">Business Name</label>
                                <input [(ngModel)]="businessName"  name="businessName" #name="ngModel" id="businessName" type="text" class="form-control" >
                            </div>
                          
                              <div class="form-group col-md-6">
                                <label for="colorTag">Color tag</label>
                                <div id="colorTag">
                                <input type="radio" id="tag1" name="colorTag" value="brown" ngModel  #name="ngModel"  class="form-control" >
                                <label class=" cd-button brown" for="tag1"></label>
                                <input type="radio" id="tag2" name="colorTag" value="blue" ngModel  #name="ngModel"  class="form-control" >
                                <label class=" cd-button blue" for="tag2"></label>
                                <input type="radio" id="tag3" name="colorTag" value="green" ngModel  #name="ngModel"  class="form-control" >
                                <label class=" cd-button green" for="tag3"></label>
                                <input type="radio" id="tag4" name="colorTag" value="yellow" ngModel  #name="ngModel"  class="form-control" >
                                <label class=" cd-button yellow" for="tag4"></label>
                                <input type="radio" id="tag5" name="colorTag" value="red" ngModel  #name="ngModel"  class="form-control" >
                                <label class=" cd-button red" for="tag5"></label>
                                <input type="radio" id="tag6" name="colorTag" value="purple" ngModel  #name="ngModel"  class="form-control" >
                                <label class=" cd-button purple" for="tag6"></label>
                                </div>
                                
                                
                              </div>  
                          
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-md-6">
                                <label for="hourlyPay">Hourly pay</label>
                                <input [(ngModel)]="hourlyPay"  name="hourlyPay" #name="ngModel" id="hourlyPay" type="text" class="form-control" >
                            </div>
                            <div class="form-group col-md-6">
                                <label for="paymentTerms">Payment terms</label>
                                <input ngModel name="paymentTerms" #name="ngModel" id="paymentTerms" type="text" class="form-control"  placeholder="0">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-md-6">
                                <label for="activeCompany">Active company</label>
                                <input [(ngModel)]="activeCompany"  name="activeCompany" #name="ngModel" id="activeCompany" type="text" class="form-control" >
                            </div>
                        </div>
                    </div>
                    
                </form>
                <div>
                       <button class="col-xs-12 col-md-4 myCol"
                           >
                           Submit
                       </button>
                    </div>
            </div>
        </div>
    </div>
</div>
