@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
* {
    box-sizing: border-box;
    font-size: 20px;
    max-width: 700px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight:300;
}
/* -------------------------------------------*/
/*                NAVBAR                      */
/* -------------------------------------------*/
.co-navbar {
       
    background-color: black;
    color: white;
    height: 45px;
    }
.co-navbar-plus{
    color: #f2f2f2;
}
.co-body {
    max-width: 700px;
}

/*----------------------------------------------------*/
/*               COMPANY BOX                          */
/*----------------------------------------------------*/
.cd-row {
    line-height: 2;
    border-radius: 10px;
    margin-top: 0px;
    margin-right: 15px;
    color: black;
}


/*----------------------------------------------------*/
/*               COMPANY COLORS                       */
/*----------------------------------------------------*/

.brown{
    background-color: #8D6E63;
}
.blue{
    background-color: #3498db;
}
.green{
    background-color: #00C853;
}
.yellow {
    background-color: #f1c40f;
}
.red{
    background-color: #e74c3c;
}
.purple {
    background-color: #9b59b6;
}

.green.co-button{
     background-color: #00d95a;
    
}
.brown.co-button{
     background-color: #795548;
}

 .red.co-button{
     background-color: #eb685a;
}

.blue.co-button{
     background-color: #2487c9;
}
.yellow.co-button {
    background-color: #e2b70d;
}
.purple.co-button {
    background-color: #a265bb;
}

