<div class="flex-container co-navbar" fxLayout="row" [ngClass]="setColor(color)" fxLayoutAlign="center center">
    <div class="flex-item" fxFlex="5%"></div>
    <div class="flex-item" fxFlex="10%"><a [routerLink]="['/home-app']" class="glyphicon glyphicon-chevron-left cd-chevron-left" ></a></div>
    <div class="flex-item" fxFlex="70%" fxLayoutAlign="center center">{{name + " Details"}}</div>
    <div class="flex-item" fxFlex="10%"></div>
    <div class="flex-item" fxFlex="5%">
        <a [routerLink]="['/new-company']" class="co-navbar-plus" aria-hidden="true">+</a></div>
</div>
<div class="spacer">address goes here</div>
<div class="flex-container cd-midbar" fxLayout="row" [ngClass]="setColor(color)" fxLayoutAlign="center center">
    <div class="flex-item" fxFlex="5%" fxFlex.xs="0%" fxLayoutAlign="center center"></div>
    <!--<div class="flex-item" fxFlex="10%" fxLayoutAlign="center center">id</div>-->
    <div class="flex-item" fxFlex="10%" fxFlex.xs="15%" fxLayoutAlign="center center">date</div>
    <div class="flex-item" fxFlex="40%" fxLayoutAlign="center center">Description</div>
    <div class="flex-item" fxFlex="10%" fxLayoutAlign="center center">amt</div>
    <div class="flex-item" fxFlex="10%" fxFlex.xs="16%" fxLayoutAlign="center center">hours</div>
    <div class="flex-item" fxFlex="10%" fxFlex.xs="9%" fxLayoutAlign="center center">coId</div>
    <div class="flex-item" fxFlex="5%"  fxFlex.xs="0%"  fxLayoutAlign="center center"></div>
</div>
<div *ngFor="let item of items">
    <div class="cd-row" fxLayout="row" fxLayoutAlign="center center">
        <div class="flex-item" fxFlex="5%" fxFlex.xs="0%" fxLayoutAlign="center center"></div>
        <!--<div class="flex-item" fxFlex="10%" fxLayoutAlign="center center">{{item.id}}</div>-->
        <div  
            class="flex-item" 
            fxFlex="10%" 
            fxFlex.xs="15%" 
            fxLayoutAlign="center center"
        >   {{item.date | date:'M/d/yy'}}
        </div>
       
        <div 
            [ngClass]="{'med':false, 'small':true}"  
            class="flex-item small" 
            fxFlex="40%" 
            fx LayoutAlign="center center" 
            (click)="goToNewItem(company)"
        >   {{item.description | truncate:22}}
        </div>
        <div 
            [ngClass]="{'med':true}" 
            class="flex-item med" 
            fxFlex="40%"  
            fxLayoutAlign="center center" 
            (click)="goToNewItem(company)"
        >   {{item.description }}
        </div>
        
        <div class="flex-item" fxFlex="10%" fxLayoutAlign="center center">{{"$ "+item.amount}}</div>
        <div class="flex-item" fxFlex="10%" fxFlex.xs="15%" fxLayoutAlign="center center">{{item.hours}}</div>
        <div class="flex-item" fxFlex="10%" fxLayoutAlign="center center">{{item.coId}}</div>
        <div class="flex-item" fxFlex="5%" fxFlex.xs="0%" fxLayoutAlign="center center"></div>
    </div>
</div>
<div>
    <button class="col-xs-12 col-md-4 iv-submit myCol" (click)=" getNothing()">
         Submit
    </button>
</div>