 <table class=" table table-bordered myTable">
   <thead>
      <tr>
         <th>Id</th>
         <th>Description</th>
         <th>Hours</th>
         <th>Delete</th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let item of items">
      <td> {{item.id}}</td>
      <td> {{item.description}}</td>
      <td>  
                    <i class="glyphicon glyphicon-edit"></i>
                </td>
      <td> <i  class="glyphicon glyphicon-remove clickable"></i></td>
      </tr>
   </tbody>
</table>