<!--<body>
    <header>header</header>
    <div id='main'>
      <article>article</article>
      <nav>nav</nav>
      <aside>aside</aside>
    </div>
    <footer>footer</footer>
  </body>-->

<div class="flex-container ni-navbar" fxLayout="row" fxLayoutAlign="center center">
  <div class="flex-item" fxFlex="4%"></div>
  <div class="flex-item" fxFlex="30%">Better Invoice</div>
  <div class="flex-item" fxFlex="60%">Current Companies</div>
  <div class="flex-item" fxFlex="6%">+</div>
</div>

<!--<div class="flex-container ni-navbar" 
     fxLayout="row" 
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutAlign.xs="start">
  <div class="flex-item" fxFlex="20%" fxFlex.xs="40%">Better Invoice  </div>
  <div class="flex-item" fxFlex>Current Companies</div>
  <div class="flex-item" fxFlex="25px">+</div>
</div> -->