<!--<body>
    <header>header</header>
    <div id='main'>
      <article>article</article>
      <nav>nav</nav>
      <aside>aside</aside>
    </div>
    <footer>footer</footer>
  </body>-->

<!--<div class="flex-container ni-navbar" fxLayout="row" fxLayoutWrap fxLayoutAlign="center center">
  <div class="flex-item" fxFlex="300px" ></div>
  <div class="flex-item" fxFlex="200px">Better Invoice</div>
  <div class="flex-item" fxFlex="350px">Current Companies</div>
  <div class="flex-item" fxFlex="350px">+</div>
</div>-->

<!--<div class="flex-container ni-navbar" 
     fxLayout="row" 
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutAlign.xs="start">
  <div class="flex-item" fxFlex="20%" fxFlex.xs="40%">Better Invoice  </div>
  <div class="flex-item" fxFlex>Current Companies</div>
  <div class="flex-item" fxFlex="25px">+</div>
</div> -->


