@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
*{
  box-sizing: border-box;
    font-size: 20px;
    max-width: 1000px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight:300;
    
 
}
/*-----------------------------------------------------*/
/*               NEW-ITEM NAV                          */
/*-----------------------------------------------------*/

.ni-nav{
  margin: 10px 0;

}
/*-----------------------------------------------------*/
/*               NEW-ITEM HEADER                       */
/*-----------------------------------------------------*/


div.ni-header {
   display: inline-flex;
   margin-top: 25px;
 
}
.ni-amount{
  border: 0 solid transparent;
}
input.ni-time{
  border: 0 solid transparent;
  color: blue;
  
}

/*-----------------------------------------------------*/
/*               NEW-ITEM INPUTS                       */
/*-----------------------------------------------------*/
form {
   display:normal;
}
label {
   
   font-size: 75%;
}

.form-control {
    
  font-size: 100%;
}

.ni-date{
   display:inline-block;
   min-width: 342px;
   max-width: 375px;
   margin-right:20px
}
.ni-date-input{
 
}
.ni-hours{
   display:inline-block;
    min-width: 342px;
    max-width: 375px;
 
}
.ni-hours-input {
 
}
.ni-notes {
    max-width: 738px;
    height: 300px;
    resize: none;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    font-size: 100%;
    resize: none;
    
}
