



<div class="container-fluid">
    <div class="row">
  <div class=" col-sm-12 col-med-6 co-box" >
<div class="ni-nav">
 <a [routerLink]="['/home-app']"  class="glyphicon glyphicon-chevron-left" aria-hidden="true"></a> 
    <span class ="ni-nav-back-link">New Item</span>
</div>
</div>
 <div class="row">
<div class="col-sm-12 col-md-6 col-md-offset-1">
<tabset class="ni-header">
  <tab heading="Time"></tab>
  <tab>
    <template tabHeading>
      <i class="glyphicon glyphicon-usd"></i>Amount
    </template>
   
  </tab>
</tabset>

<!--div class="ni-header">
    <input type="text" class= "ni-time" placeholder="Time" name="ni-time">
    <input type="text" name="ni-amount" class="ni-amount" placeholder="$ Amount">
</div>-->

<form #f="ngForm" (ngSubmit)="onSubscribe(f.form)">
    <div class="ni-date">
    <div class="form-group">
        <label for="date">Date</label>
        <input 
            ngModel
            name="date"
            #name="ngModel" 
            id="date" 
            type="text" 
            class="form-control ni-date-input" 
            required
            minlength="3"
            placeholder="Date">
       
    </div>
    </div>
     <div class="ni-hours">
    <div class="form-group ">
     
        <label for="hours">Hours</label>
        <input 
            ngModel
            name="hours"
            #name="ngModel" 
            id="hours" 
            type="text" 
            class="form-control ni-hours " 
            required
            minlength="3"
            placeholder="0">
       
    </div>
    </div>
     <div class="ni-notes">
    <div class="form-group">
     
        <label for="notes">Description/notes</label>
        <textarea 
            ngModel
            name="notes"
            #name="ngModel" 
            id="notes" 
            type="textbox" 
            class="form-control  ni-notes" 
            required
            minlength="3"
            placeholder="Type Here">
        </textarea>
    </div>
    </div>
</form>
  </div>
</div>
</div>
</div>