@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
*{
  box-sizing: border-box;
    font-size: 20px;
    max-width: 1200px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight:300;
    
 
}
/*-----------------------------------------------------*/
/*               NEW-ITEM NAV                          */
/*-----------------------------------------------------*/

.ni-nav{
  margin: 10px 0;

}
/*-----------------------------------------------------*/
/*               NEW-ITEM HEADER                       */
/*-----------------------------------------------------*/




/*-----------------------------------------------------*/
/*               NEW-ITEM INPUTS                       */
/*-----------------------------------------------------*/

label {
   
   font-size: 75%;
}

.form-control {
    
  font-size: 100%;
}

.ni-date{
  width:100%; 
}
.ni-hours{
  width: 100%;

}
.ni-notes {
   
    width: 100%;
    height: 300px;
    resize: none;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    font-size: 100%;
}

.ni-submit {
    font-size:90%;
    box-sizing : border-box;
    border-radius: 4px;
  
    background-color: #34495e;
    color:#f2f2f2;
    margin: 15px;
    max-width: 338px;
    
}
/*-----------------------------------------------------*/
/*               NEW-ITEM NAVBAR                       */
/*-----------------------------------------------------*/



/*screen-xs*/
@media (max-width: 768px) { 
  .myCol{font-size:100%;
   box-sizing : border-box;
   border-radius: 0px;
    border: transparent 0px;
    background-color: #34495e;
    color: #f2f2f2;
   margin-left: -15px;
   width: 400px;
   position: fixed;
   bottom:0;
   margin-bottom: 0px;
    line-height: 3.0;}
}
/*screen-sm*/
/*@media (min-width: 768px) and (max-width: 992px) { 
  .myCol{background-color:green;}
}*/
/*screen-md*/
/*@media (min-width: 992px) and (max-width: 1200px) { 
  .myCol{font-size:90%;
    max-width: 150px;
    box-sizing : border-box;
    border-radius: 4px;
    border: transparent 0px;
    background-color: #34495e;
    color: #f2f2f2;
    margin: 15px;
    line-height: 2.0;}
}*/
/*screen-lg corresponds with col-lg*/
@media (min-width: 1200px) {  
  .myCol{font-size:90%;
    max-width: 150px;
    box-sizing : border-box;
    border-radius: 4px;
    border: transparent 0px;
    background-color: #34495e;
    color: #f2f2f2;
    margin: 15px;
    line-height: 2.0;}
}